@import "tailwindcss";
@import "./assets/styling/navbar.css";

@source "./src/**/*.{rs,html,css}";

@layer base {
  body {
    @apply bg-[#0f1116] text-white p-5 font-sans;
  }
}

@theme {
  --color-nav: var(--color-blue-500);
}